p, h1, nav, li, h2, label {
        font-family: arial;
        letter-spacing: 0.2px;
    }
.a1{
    display: inline;
    padding: 40px;
}
a{
    color: white;
}
nav{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

    p, h1, nav, li, h2, label {
            font-family: arial;
            letter-spacing: 0.2px;
        }
    .a1{
        display: inline;
        padding: 40px;
    }
    a{
        color: white;
    }
    nav{
        background-color: black;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    nav a {
        text-decoration: none;
    }
    nav a:hover {
        text-decoration: underline;
    }
    .zoom-img {
      width: 300px;
      height:auto;
      overflow: hidden;
    }
    
    .zoom-img  img {
      width: 100%;
      transition: all .3s ease-in-out;
    }
    
    .zoom-img img:hover   {
      transform: scale(1.2);
    }
    #demo {
        animation-name: headingcolor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        border-width: 5px;
        border-color: black;
        border-style: initial;
    }
    @keyframes headingcolor{
        0%{color: red}
        15%{color: orange}
        30%{color: yellow}
        75%{color: blue}
        100%{color: purple}
    }
    #canvas1{
        animation-name:movingscreen;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        position:relative;
        width: 200px;
        height: 100px;
        border-style: outset;
        border-color: black;
    }
    @keyframes movingscreen{
        0%{background-color: red; left:100px;top:30px}
        15%{background-color: orange; left: 25px; top:90px; }
        30%{background-color: yellow; left: 90px; top:25px}
        75%{background-color: blue; top: 45px; left:75px}
        100%{background-color: purple; top:100px; left:10px;}
    }
    #canvas2{
        animation-name:screenmoving;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        position:relative;
        width: 200px;
        height: 100px;
        border-style:groove;
        border-color: black;
    
    }
    @keyframes screenmoving{
        0%{background-color: rgb(187, 255, 0); left:30px;top:100px;}
        15%{background-color: rgb(255, 0, 0); left: 90px; top:25px; }
        30%{background-color: rgb(0, 60, 255); left: 25px; top:70px}
        75%{background-color: rgb(0, 255, 157); top: 75px; left:55px}
        100%{background-color: rgb(0, 124, 128); top:100px; left:10px;}
    }
    


nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.zoom-img {
  width: 300px;
  height:auto;
  overflow: hidden;
}

.zoom-img  img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.zoom-img img:hover   {
  transform: scale(1.2);
}
